
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:10px;
    background-color:rgba(79, 50, 3, 0.781);
    font-family:Arial, Helvetica, sans-serif;
    width:100%;
}

header{
    background-color: rgb(186, 158, 45);
    padding:5px;
    color:#212121;
    box-shadow: 0 10px 25px rgba(126, 89, 9, 0.833);
    display:flex;
    justify-content: center;
    align-items:center;
}

header h1{
    font-size:20px;
}

main{
    min-height:80vh;
    padding:10px;
    max-width:800px;
    margin:0 auto;
}

main form{
    display:flex;
    justify-content: center;
    align-items: center;
}

form input[type="text"]{
    flex-grow:1;
}

form button[type="submit"]{
    background-color:rgba(131, 69, 6, 0.678);
    margin-left:10px;
    cursor:pointer;
}

footer{
    background-color:rgb(186, 158, 45);
    text-align:center;
    font-size:22px;

}

.result{
    background-color: #b9e04672;
    margin:10px;
    padding:20px;
    box-shadow: 0 0 15px rgba(51, 82, 72, 0.6);
}

@media screen and (max-width:338px){
    main form{
    flex-direction:column;
}
 form button[type="submit"]{
margin-left:0px;
margin-top:10px;
}
}
